HEAD
HEAD
HEAD
target/


/nbproject/private/
artista
target/

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*

# =========================
# === Maven & Gradle ======
# =========================
target/
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# =========================
# === IntelliJ IDEA =======
# =========================
.idea/
*.iml
out/

# =========================
# === Eclipse =============
# =========================
.classpath
.project
.settings/

# =========================
# === NetBeans ============
# =========================
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# =========================
# === VS Code ============
# =========================
.vscode/

# =========================
# === OS-specific files ===
# =========================
.DS_Store
Thumbs.db
bdc46ada971cb9f2e57b5b66b12c5cde88ad6433

HEAD
/nbproject/private/

HEAD
HEAD
target/


 HEAD
target/


87bbdee (Cambios gitignore)
/nbproject/private/
artista
target/
parent of c1a6ae8 (Merge branch 'main' of github.com:Eduidk28/Taller01-Ramas)
artista
